*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
     font-size: 16px;
    overflow-x: hidden;
}
.content{
    width: 100%;
    height: 100%;
}
button{
    padding: .5rem 1rem .5rem 1rem;
    color: #fff;
    background: linear-gradient(180deg, #FFD885,#FFB51B);
    border-radius: 5px;
    color: #474747;
    font-weight: 700;
    border: 1px rgb(80, 95, 80) solid;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.admissionopen{
    position: absolute;
    width: 100%;
    padding: 1rem;
    font-weight: 700;
    text-align: center;
    background-color: #0F3B24;
}
.admissionopen p{
    color: #fff;
    text-align: center;
}

.fillerMain{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 70%;
    z-index: 3;
    display: none;
}
.dutiesContainer{
    background: #fff;
    top: 10%;
    left: 25%;
    right: 25%;
    position: fixed;
    z-index: 4;
    height: 70%;
    border-radius: 15px;
    padding: 1rem;
    display: none;
    animation-name: DUTIES_CONTAINER;
    animation-duration: .7777777777s;
}
@keyframes DUTIES_CONTAINER{
    from{top: 0%;}
    to{top: 10%;}

}
.dutiesContainer .title{
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}
.dutiesContainer .text{
    opacity: 80%;
}
.dutiesContainer .mm{
    height: 82.5%;
}
.buttonLanguage{
    position: absolute;
    display: grid;
    grid-template-columns: 12fr 1fr;
    top: 0;
    
}



.row1{
    display: flex;
    flex-direction: row;
    padding-left: 8.18042813455657%;
    padding-top: 0.4375rem;
    padding-right: 8.18042813455657%;
    padding-bottom: 0.4375rem;
    background: linear-gradient(180deg,  #D8E1E4, #B3CAD1);
    width: 100%;

}
.row1 img{
    width: 10%;
    height: 120px;
    
}
.row1 .navgroup{
    /* padding: 1.1875rem 0 1.1875rem 0; */
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
}
.row1 .navgroup .hamburger{
    width: 4.5%;
    display: none;
}

.row1 .navgroup .line{
    background: rgb(75, 75, 75);
    height: 2px;
    margin-top: 4px;
    width: 100%;
}



.row1 .navgroup .navItems{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1rem;
  
    
}
.titles{
    font-size: 1.5rem;
    border-top: 1px #D8E1E4 solid;
    border-bottom: 1px #D8E1E4 solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.titles h3{
    font-weight: 300;
    font-size: 2rem;
}
.row1 .navgroup .navItems .navItem{
    font-weight: 700;
    color: #000;
    margin-left: 2.44648318042813%;
    font-size: 1rem;
    opacity: 90%;
    cursor: pointer;
    text-shadow: .5px .5px #fff;
}
.row1 .navgroup .navItems .navItem:first-child{
    color: #fdad00;
}

.row12{
    padding:0;
}
.row12 .slide{
    background-image: url('../assets/images/Image9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    animation-name: _FILLERANIMATOR;
    animation-timing-function: .5s;
}
.row12 .slide .filler{
    background: #000;
    opacity: 40%;
    width: 100%;
    height: 100%;
    animation-name: _FILLERANIMATOR;
    animation-timing-function: .5s;
}

@keyframes _FILLERANIMATOR{
    from{width: 0%;}
    to{width: 100%;}
}
.row12 .slide p{
    position: absolute;
    color: #fff;
    bottom: 250px;
    font-size: 4rem;
    text-align: center;
    width: 100%; 
    
}
.row12 .slide span{
    font-weight: 700;
    font-size: 4rem;
    color: #fdad00;
}

@keyframes TEXTANIMATOR{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

.mobilemenu{
    position: fixed;
    z-index: 5;
    display: none;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    height: 100%;
    animation-name: MOBILE_MENU_DISPLAY;
    animation-duration: 1s;
}
@keyframes MOBILE_MENU_DISPLAY{
    from{opacity: 0}
    to{opacity: 1}
}
.mobilemenu .mainNavItems{
    background: #fff;
}
.mobilemenu .empty{
    background: #000;
    opacity: 40%;
}
.mobilemenu .mainNavItems .mobileNavItem{
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 10%;
}
.row35{
    display: flex;
    flex-direction: column;
    width: 88.5%;
    padding-right: 5.65749235474006%;    
    padding-left: 5.65749235474006%;  
    background-image: url('../assets/images/blackbg.jpg');  
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.row35 .headersamplevideoportal{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.row35 .headersamplevideoportal .textIntroducer{
    display: flex;
    flex-direction: column;
}
.row35 .headersamplevideoportal .textIntroducer h1{
    color: #fff;
    font-size: 1.5rem;
}

.row35 .headersamplevideoportal .textIntroducer h2{
    color: rgb(185, 185, 185);
}
.row35 .vider{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1rem;
}

.row35 .vider img{
    background: #000;
    height: 225px;
    margin-bottom: .5rem;
    overflow-y: hidden;
}
.row35 .vider .video{
    width: 90%;
}
.row35 .vider .video p{
    color: rgb(228, 228, 228);
}
.row35 a{
    text-decoration: none;
    color: #fdad00;
}




/* ROW 2 STUFFS */
.row2{
    padding-top: 10rem;
    background: url('../assets/images/childbg.png');
    background-size: cover;
    background-size: cover;
    object-fit: cover;
    padding-bottom: 20rem;

    width: 100%;
}
.row2 p{
    margin-left: 5.65749235474006%;
    margin-right: 5.65749235474006%;
    margin-top: 2rem;
    font-size: 1.3rem;
}


.row12{
    width: 100%;
}
.row12 img{
    width: 100%;
    height: 30rem;
}

/* ROW 3 */
.row3 {
    /* display: grid;
    grid-template-columns: 3fr 1fr; */
    padding-left: 5.65749235474006%;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.row3 .mk{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.row3 .mk .mickey{
    background: url('../assets/images/TeachingMickey.png');
    background-size: cover;
}


.row3 .card-au-pair{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:3rem;
}
.row3 .card-au-pair .card{
    background: linear-gradient(45deg, #F3F9F9,#FEF8EA);
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    padding: 2rem;
    cursor: pointer;
    border: 2px #fff solid;
}
.row3 .card-au-pair .card .textContainer{
    margin-left: 10%;
}

.row3 .card-au-pair .card img{
    height: 4.3125rem;
    width: 10.3125rem;
}
.row3 .card-au-pair .card:hover{
    opacity: 90%;
    border: 2px #000 solid;
}




/*IMAGES FOR SLIDESHOW*/
#fade2{
    background-image: url('../assets/images/Image45.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#fade3{
    background-image: url('../assets/images/Image27.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.row4{
    background: url('../assets/images/Students02.gif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding-bottom: 3rem;
}
.row4 .session{
    margin-top: 3rem;
    border:1px #fff solid;
    display: flex;
    flex-direction: column;
    margin-left: 5.65749235474006%;
    margin-right: 5.6574923547400%;
    padding: 2rem .5rem 2rem .5rem;
}
.row4 h3{
    color: #fff;
}

.row4 .session:hover{
    background: linear-gradient(180deg, rgb(197, 197, 197),#fff);
    opacity: 80%;
}
.row4 .session:hover h2{
    color: #000;
}
.row4 .session:hover p{
    color: #000;
}
.row4 .session span{
    font-weight: 700;
    font-size: 2rem;

}
.row4 .session h2{
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
}
.row4 .session p{
    color: #F3F9F9;
    margin-top: .5rem;
}
.row5{
    padding-bottom: 7rem;
}
.banners{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banners img{
    object-fit: cover;
    height: 10rem;
    width: 97%;
    margin-top: 1rem;
}
#photo{
    background: url('../assets/images/triangles.png')
}
#photo h1{
    color: #000;
}
#photo h2{
    color: rgb(87, 87, 87);
}
#photo p{
    color: rgb(87, 87, 87);

}


.row5 .eventcard{
    border: 1px #000 solid;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 5.65749235474006%;
    margin-right: 5.6574923547400%;
    background: linear-gradient(180deg, rgb(230, 230, 230),#fff);
    cursor: pointer;

}
.row5 .eventcard .indicator p{
    background: #fd008b;
    width: 10%;
    padding: .5%;
    color: #fff;
    font-weight: 700;
}
.row5 .eventcard .eventcontainer{
    display: flex;
    flex-direction: row;
    padding: 2%;
    margin-left: 5%;


}
.row5 .eventcard .eventcontainer h3{
    font-size: 1.3rem;
    text-shadow: 2px 2px #fff;
}
.row5 .eventcard:hover{
    background: linear-gradient(180deg, #fff,rgb(230, 230, 230));

}


.row6{
    background: linear-gradient(-45deg, #F3FAF9, #FEF8EB);
    margin-top: 3rem;
    padding-left: 5.65749235474006%;
    align-content: center;
    padding-bottom: 3rem;
    display: none;
}
.row6 .gallerynavigator{
    display: flex;
    flex-direction: row;
    background: #fff;    
    align-self: center;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 35.5%;
}
.row6 p{
    font-weight: 700;
    color: rgb(80, 80, 80);
    opacity: 70%;
}
.row6 .gallerynavigator .gallerynavigatorItem{
    padding-left: 5%;
    padding-right: 35px;
    cursor: pointer;
    height: 100%; 
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: .7rem;
}
.row6 .gallerynavigator .gallerynavigatorItem:last-child{
    border: none;
}
.row6 .gallerynavigator .gallerynavigatorItem:first-child{
    background: #000;
    color: #fff;
}
.row6 .gallerynavigator .gallerynavigatorItem:hover{
    background: #000;
    color: #fff;
}
.row6 .photoGalery{
     display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-right: 5.65749235474006%;


}
.row6 .photoGalery img{
    width: 90%;
    height:35.5rem;
    align-self: center;
    margin-left: 20%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-right: 3rem;
    animation-name: IMGANIME;
    animation-duration: 1s;
}
@keyframes IMGANIME{
    from{margin-right: 10rem;}
    to{margin-right: 3rem;}
}
.row6 .photoGalery img:hover{
    opacity: 90%;
}
.row6 .galleryControlls{
    margin-left: 40%;
    margin-right: auto;
}
.footer{
    background: #0F3B24;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding-right: 5.65749235474006%;
    padding-left: 5.65749235474006%;
    padding-top: 6%;
    padding-bottom: 6%;

}
.footer p,h2{
    color: #fff;
}
.footer h2{
    font-size: 2rem;

}
.footer button{
    width: 50%;
    margin-top: .5rem;
    color: #0F3B24;
    background-color: #fdad00;
    border: none;
    padding: .3rem;
}
.footer p{
    opacity: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: .5rem;
}
.footer img{
    margin-left: .5rem;
}
.footer .footergroup{
    display: flex;
    flex-direction: column;
    border-right: .5px #D8E1E4 solid;
    width: 80%;
}
.footer .footergroup .item{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    height: 2rem;
}
.footer input{
    padding: .3rem;
    margin-top: 1rem;
    width: 80%;
}
.footer .footergroup:last-child{
    border: none;
}
@media only screen and (min-width: 1121px){
    *{
        font-size: 16px;
    }
    /* .row1 img{
        height: 6rem;
    } */

}
@media only screen and (min-width: 601px) and (max-width: 1120px){
    *{
        font-size: 14px;
    }
    .row1 .navgroup .hamburger{
        display: block;
        margin-left: 80%;

    }
    .row1 .navgroup .navItems{
        display: none;
    }
    .row1 img{
        height: 6rem;
    }
    .row3 .card-au-pair{
        display: flex;
        flex-direction: column;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer .footergroup{
        width: 100%;
        border: none;
        margin-top: 2rem;

    }

}

@media only screen and (min-width: 301px) and (max-width: 600px){

    *{
        font-size: 12px;;
    }
    .row1 .navgroup .hamburger{
        display: block;
        margin-left: 80%;
        width: 7%;
    }
    .row1 .navgroup .navItems{
        display: none;
    }
    .row1 img{
        height: 4rem;
    }
    .row6 .photoGalery{
        display: flex;
        flex-direction: column;
    }
    .row6 .photoGalery img{
        margin-top: 1rem;
    }
    .row6 .gallerynavigator{
        width: 60%;
    }
    .row3 .card-au-pair{
        display: flex;
        flex-direction: column;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer .footergroup{
        width: 100%;
        border: none;
        margin-top: 2rem;

    }
}


@media only screen and (min-width: 0px) and (max-width: 300px){

    *{
        font-size: 10px;;
    }
    .row1 .navgroup .hamburger{
        display: block;
        margin-left: 80%;
        width: 7%;
    }
    .row1 .navgroup .navItems{
        display: none;
    }
    .row1 img{
        width: 15%;
    }
    .row6 .photoGalery{
        display: flex;
        flex-direction: column;
    }
    .row6 .photoGalery img{
        margin-top: 1rem;
    }
    .row6 .gallerynavigator{
        width: 60%;
    }
    .row3 .card-au-pair{
        display: flex;
        flex-direction: column;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer .footergroup{
        width: 100%;
        border: none;
        margin-top: 2rem;
    }
}









