*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}
.content{
    width: 100%;
    height: 100%;
}.row1{
    display: flex;
    flex-direction: row;
    padding-left: 8.18042813455657%;
    padding-top: 0.4375rem;
    padding-right: 8.18042813455657%;
    padding-bottom: 0.4375rem;
    background: linear-gradient(180deg,  #D8E1E4, #B3CAD1);
    width: 100%;

}
button{
    padding: .5rem 1rem .5rem 1rem;
    color: #fff;
    background: linear-gradient(180deg, #FFD885,#FFB51B);
    border-radius: 5px;
    color: #474747;
    font-weight: 700;
    border: 1px rgb(80, 95, 80) solid;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.row1 img{
    width: 10%;
    height: 120px;
    
}
.row1 .navgroup{
    /* padding: 1.1875rem 0 1.1875rem 0; */
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
}
.row1 .navgroup .hamburger{
    width: 4.5%;
    display: none;
}

.row1 .navgroup .line{
    background: rgb(75, 75, 75);
    height: 2px;
    margin-top: 4px;
    width: 100%;
}



.row1 .navgroup .navItems{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1rem;
  
    
}
.titles{
    font-size: 1.5rem;
    border-top: 1px #D8E1E4 solid;
    border-bottom: 1px #D8E1E4 solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.titles h3{
    font-weight: 300;
    font-size: 2rem;
}
.row1 .navgroup .navItems .navItem{
    font-weight: 700;
    color: #000;
    margin-left: 2.44648318042813%;
    font-size: 1rem;
    opacity: 90%;
    cursor: pointer;
    text-shadow: .5px .5px #fff;
}
.row1 .navgroup .navItems .navItem:nth-child(2){
    color: #fdad00;
}

.row12{
    padding:0;
}
.row12 .slide{
    background-image: url('../assets/images/Image9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    animation-name: _FILLERANIMATOR;
    animation-timing-function: .5s;
}
.row12 .slide .filler{
    background: #000;
    opacity: 40%;
    width: 100%;
    height: 100%;
    animation-name: _FILLERANIMATOR;
    animation-timing-function: .5s;
}

.buttonLanguage{
    position: absolute;
    display: grid;
    grid-template-columns: 12fr 1fr;
    top: 0;
    
}

@keyframes _FILLERANIMATOR{
    from{width: 0%;}
    to{width: 100%;}
}
.row12 .slide p{
    position: absolute;
    color: #fff;
    bottom: 10rem;
    font-size: 4rem;
    text-align: center;
    width: 100%; 
    
}
.row12 .slide span{
    font-weight: 700;
    font-size: 4rem;
}

@keyframes TEXTANIMATOR{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

.mobilemenu{
    position: absolute;
    z-index: 5;
    display: none;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    height: 100%;
}
.mobilemenu .mainNavItems{
    background: #fff;
}
.mobilemenu .empty{
    background: #000;
    opacity: 40%;
}
.mobilemenu .mainNavItems .mobileNavItem{
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 10%;
}


.CARD{
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    animation-name: _CARDANIMATION;
    animation-duration: 1s;
}
@keyframes _CARDANIMATION{
    from{opacity: 0;}
    to{opacity: 1;}
}
.CARD .presenter{
    height: 30rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column; 
}
.CARD h2{
    font-size: 3rem;
    vertical-align: center;
    text-align: center;
    width: 100%;
    color: #000;
    font-weight: 300;
    margin-top: 3rem;
}

/* ROW 2 STUFFS */
.row2{
    background: linear-gradient(45deg, #D4F6F6, #EBF7F8);
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}
.row2 p{
    margin-left: 5.65749235474006%;
    margin-right: 5.65749235474006%;
    margin-top: 2rem;
    font-size: 1.3rem;
}


.row12{
    width: 100%;
}
.row12 img{
    width: 100%;
    height: 30rem;
}

/* ROW 3 */
.row3 {
    padding-left: 5.65749235474006%;
    padding-right: 5.6574923547400%;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.row3 .card-au-pair{
    display: flex;
    flex-direction: row;
    margin-top:3rem;
}
.row3 .card-au-pair .card{
    background: linear-gradient(45deg, #F3F9F9,#FEF8EA);
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    padding: 2rem;
}
.row3 .card-au-pair .card .textContainer{
    margin-left: 10%;
}

.row3 .card-au-pair .card img{
    height: 4.3125rem;
}



/*IMAGES FOR SLIDESHOW*/
#fade2{
    background-image: url('../assets/images/Image45.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#fade3{
    background-image: url('../assets/images/Image27.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.row4{
    background-color: #fdad00;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding-bottom: 3rem;
}
.row4 .session{
    margin-top: 3rem;
    background: linear-gradient(45deg, #5c4c2b, #2b2210);
    display: flex;
    flex-direction: column;
    margin-left: 5.65749235474006%;
    margin-right: 5.6574923547400%;
    padding: 2rem .5rem 2rem .5rem;
   

}
.row4 .session span{
    font-weight: 700;
    font-size: 2rem;

}
.row4 .session h2{
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
}
.row4 .session p{
    color: #F3F9F9;
    margin-top: .5rem;
}
.row5 .eventcard{
    border: 1px #000 solid;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 5.65749235474006%;
    margin-right: 5.6574923547400%;

}
.row5 .eventcard .indicator p{
    background: #fd008b;
    width: 10%;
    padding: .5%;
    color: #fff;
    font-weight: 700;
}
.row5 .eventcard .eventcontainer{
    display: flex;
    flex-direction: row;
    padding: 2%;
    margin-left: 5%;


}
.row6{
    background: linear-gradient(-45deg, #F3FAF9, #FEF8EB);
    margin-top: 3rem;
    padding-left: 5.65749235474006%;
    align-content: center;
    padding-bottom: 3rem;
}
.main .gallerynavigator{
    display: flex;
    flex-direction: row;
    background: #fff;    
    align-self: center;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
    margin-left: 7.65749235474006%;
    border-top: .5px #000 solid;
    margin-right: 10.65749235474006%;
    margin-bottom: 3rem;


}
.main p{
    font-weight: 700;
    color: rgb(80, 80, 80);
    opacity: 70%;
    font-size: 1rem;

}
.main .gallerynavigator .gallerynavigatorItem{
    padding-left: 5%;
    padding-right: 35px;
    cursor: pointer;
    height: 100%; 
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
}
.main .gallerynavigator .gallerynavigatorItem:last-child{
    border: none;
}
.main .gallerynavigator .gallerynavigatorItem:first-child{
    background: #000;
    color: #fff;
}
.main .gallerynavigator .gallerynavigatorItem:hover{
    background: #000;
    color: #fff;
}
.row6 .photoGalery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    margin-right: 5.65749235474006%;

}
.row6 .photoGalery img{
    width: 90%;
    height:17.5rem;
}
.row6 .photoGalery img:hover{
    opacity: 90%;
}
.CARD p{
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: 500;
    opacity: 100%;
}

.footer{
    background: #0F3B24;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding-right: 5.65749235474006%;
    padding-left: 5.65749235474006%;
    padding-top: 6%;
    padding-bottom: 6%;

}
.footer p,h2{
    color: #fff;
}
.footer h2{
    font-size: 2rem;

}
.footer button{
    width: 50%;
    margin-top: .5rem;
    color: #0F3B24;
    background-color: #fdad00;
    border: none;
    padding: .3rem;
}
.footer p{
    opacity: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: .5rem;
}
.footer img{
    margin-left: .5rem;
}
.footer .footergroup{
    display: flex;
    flex-direction: column;
    border-right: .5px #D8E1E4 solid;
    width: 80%;
}
.footer .footergroup .item{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    height: 2rem;
}
.footer input{
    padding: .3rem;
    margin-top: 1rem;
    width: 80%;
}
.footer .footergroup:last-child{
    border: none;
}
@media only screen and (min-width: 1121px){
    *{
        font-size: 16px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 1120px){
    *{
        font-size: 14px;
    }
    .row1 .navgroup .hamburger{
        display: block;
        margin-left: 80%;

    }
    .row1 .navgroup .navItems{
        display: none;
    }
    .row3 .card-au-pair{
        display: flex;
        flex-direction: column;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer .footergroup{
        width: 100%;
        border: none;
        margin-top: 2rem;

    }

}

@media only screen and (min-width: 301px) and (max-width: 600px){

    *{
        font-size: 12px;;
    }
    .row1 .navgroup .hamburger{
        display: block;
        margin-left: 80%;
        width: 7%;
    }
    .row1 .navgroup .navItems{
        display: none;
    }
    .row6 .photoGalery{
        display: flex;
        flex-direction: column;
    }
    .row6 .photoGalery img{
        margin-top: 1rem;
    }
    .row6 .gallerynavigator{
        width: 60%;
    }
    .row3 .card-au-pair{
        display: flex;
        flex-direction: column;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer .footergroup{
        width: 100%;
        border: none;
        margin-top: 2rem;

    }
}


@media only screen and (min-width: 0px) and (max-width: 300px){

    *{
        font-size: 10px;;
    }
    .row1 .navgroup .hamburger{
        display: block;
        margin-left: 80%;
        width: 7%;
    }
    .row1 .navgroup .navItems{
        display: none;
    }
    .row6 .photoGalery{
        display: flex;
        flex-direction: column;
    }
    .row6 .photoGalery img{
        margin-top: 1rem;
    }
    .row6 .gallerynavigator{
        width: 60%;
    }
    .row3 .card-au-pair{
        display: flex;
        flex-direction: column;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer .footergroup{
        width: 100%;
        border: none;
        margin-top: 2rem;
    }
}









